packages:
  # Include all of the core configuration
  core: !include esphome-4848s040.yaml

esphome:
  project:
    name: ${project_name}
    version: dev # replaced by release workflow with the tagged version

# This should point to the public location of the yaml file that will be adopted.
# In this case it is the core yaml file that does not contain the extra things
# that are provided by this factory yaml file as the user does not need these once adopted.
dashboard_import:
  package_import_url: github://tntlarsn/esphome-4848s040/esphome-4848s040.yaml@main
  import_full_config: false

# Sets up the improv via serial client for Wi-Fi provisioning.
# Handy if your device has a usb port for the user to add credentials when they first get it.
improv_serial:

# Sets up Bluetooth LE (Only on ESP32) to allow the user
# to provision wifi credentials to the device.
esp32_improv:
  authorizer: none

# Used to pull OTA updates
http_request:
  
ota:
  - platform: http_request
    id: ota_http_request

# - http_request platform: For managed firmware updates via manifest.json
update:
  - platform: http_request
    id: update_http_request
    name: ESPhome 4848S040 Display Firmware
    source: https://github.com/tntlarsn/esphome-4848s040/releases/latest/download/esphome-4848s040.manifest.json
    disabled_by_default: false    

  
button:
  - platform: restart
    id: restart_internal
    entity_category: config
    internal: true

sensor:
  - platform: uptime
    id: uptime_internal
    entity_category: "diagnostic"
    device_class: "duration"
    unit_of_measurement: "s"

  - platform: wifi_signal # Reports the WiFi signal strength/RSSI in dB
    name: "WiFi Signal dBm"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"
    unit_of_measurement: "dBm"
    device_class: "signal_strength"

  - platform: copy # Reports the WiFi signal strength in %
    source_id: wifi_signal_db
    name: "WiFi Percentage"
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "%"
    entity_category: "diagnostic"
    device_class: "signal_strength"

text_sensor:
  - platform: wifi_info
    ip_address:
      name: IP Address
    ssid:
      name: SSID
    bssid:
      name: BSSID
    mac_address:
      name: Mac Wifi Address
    scan_results:
      name: Latest Scan Results
    dns_address:
      name: DNS Address