substitutions:
  name: "esphome-4848s040"
  friendly_name: "ESPhome 4848S040 Display"
  project_name: "TNT_Larsn.ESPhome Display"

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  # Automatically add the mac address to the name
  # so you can use a single firmware for all devices
  name_add_mac_suffix: true

esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

# To be able to get logs from the device via serial and api.
logger:

# API is a requirement of the dashboard import.
api:
  
# Used to pull OTA updates
http_request:

# OTA is required for Over-the-Air updating
ota:
  - platform: esphome
    id: esphome_ota
  - platform: http_request
    id: ota_http_request

# - http_request platform: For managed firmware updates via manifest.json
update:
  - platform: http_request
    id: update_http_request
    name: ESPhome 4848S040 Display Firmware
    source: https://github.com/tntlarsn/esphome-4848s040/releases/latest/download/esphome-4848s040.manifest.json
    disabled_by_default: false    

wifi:
  # Set up a wifi access point using the device name above
  ap:

# In combination with the `ap` this allows the user
# to provision wifi credentials to the device.
captive_portal:
  
button:
  - platform: restart
    id: restart_internal
    entity_category: config
    internal: true

sensor:
  - platform: uptime
    id: uptime_internal
    entity_category: "diagnostic"
    device_class: "duration"
    unit_of_measurement: "s"

  - platform: wifi_signal # Reports the WiFi signal strength/RSSI in dB
    name: "WiFi Signal dBm"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"
    unit_of_measurement: "dBm"
    device_class: "signal_strength"

  - platform: copy # Reports the WiFi signal strength in %
    source_id: wifi_signal_db
    name: "WiFi Percentage"
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "%"
    entity_category: "diagnostic"
    device_class: "signal_strength"

text_sensor:
  - platform: wifi_info
    ip_address:
      name: IP Address
    ssid:
      name: SSID
    bssid:
      name: BSSID
    mac_address:
      name: Mac Wifi Address
    scan_results:
      name: Latest Scan Results
    dns_address:
      name: DNS Address
